@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<section class="wellcome_area clearfix">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md header-spacing">
                <header>
                    <br />
                    <h1 class="text-white">@ViewData["Title"]</h1>
                    <p class="text-white">Logged out of Tokkepedia.</p>
                </header>
            </div>
        </div>
    </div>
</section>