@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<!-- **** BACKGROUND !Important **** -->
<section class="tokkepedia-main clearfix">
    <div class="tokkepdia-sub">
    </div>
</section>
<!-- **** /BACKGROUND **** -->

<section class="special-area clearfix" id="about">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md header-spacing">
                <div class="row" style="background-color: #DEEBF7; border-radius: 8px; border: 2px solid #2F528F;">
                    <div class="col-md-12" style="padding-top: 8px;">
                        <h1>About Tokkepedia</h1>
                        <div class="row">
                            <div class="col-md-2">
                                <img src="~/images/tokketlogo.png" />
                            </div>
                            <div class="col-md-10">
                                <p>
                                    Tokkepedia is the knowledge app of the Tokket Platform. Tokket is a gamification platform that blends social media, education, information, and games.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-6">
                                        <h3 class="text-center">BRIEF</h3>
                                        <p>
                                            Entering information into the knowledge base just take seconds when entering a handful of words or a few minutes when entering a handful of sentences. Either way, you don’t have to enter paragraphs or pages of information. The brevity and conciseness makes Tokkepedia information easy to read and quick to consume – it is like the Twitter of knowledge bases.
                                        </p>
                                        <img src="~/images/tokkepedia-briefaesthetic.jpg" />
                                        <br />
                                        <h3 class="text-center">COMPREHENSIVE</h3>
                                        <p>
                                            The Tokkepedia knowledge base can cover all information that has ever been written and any words that has ever been spoken. The information is structured by over twenty tok groups, over two hundred tok types and unlimited categories.
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <img src="~/images/tokkepedia-socialaesthetic.jpg" />
                                        <br />
                                        <h3 class="text-center">SOCIAL</h3>
                                        <p>
                                            The Tokkepedia knowledge app is social since you can like, comment, and deem a post accurate or inaccurate. Users will also be able to share posts with others.
                                        </p>
                                        <img src="~/images/tokkepedia-comprehensiveaesthetic.jpg" />
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h3 class="text-center">GAMIFIED</h3>
                                <p>
                                    Twitter calls its posts tweets, Tokkepedia calls its posts “toks”.  Tokkepedia rewards users with virtual  coins each time a tok is posted.
                                </p>
                                <img src="~/images/tokkepedia-gamifiedaesthetic.jpg" />
                                <br />
                                <h3 class="text-center">PLAYABLE FORMAT</h3>
                                <p>
                                    The toks in Tokkepedia are formatted in a way that they can feed the Tokket mobile games. Users enter the content in Tokkepedia then play the content in one or more the dozen games Tokket is developing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>