@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<!-- **** BACKGROUND !Important **** -->
<section class="tokkepedia-main clearfix">
    <div class="tokkepdia-sub">
    </div>
</section>
<!-- **** /BACKGROUND **** -->

<section class="special-area bg-white" id="about">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md header-spacing">
                <h2>@ViewData["Title"]</h2>

                <p>Use this page to detail the site's privacy policy.</p>
            </div>
        </div>
    </div>
</section>
