@{
    ViewData["Title"] = "Terms of Services";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<!-- **** BACKGROUND !Important **** -->
<section class="tokkepedia-main clearfix">
    <div class="tokkepdia-sub">
    </div>
</section>
<!-- **** /BACKGROUND **** -->

<section class="special-area bg-white">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md header-spacing">
                <br />
                <br />
                <p>Terms of Service will go here.</p>
            </div>
        </div>
    </div>
</section>