@model ErrorViewModel
@{
    ViewData["Title"] = "Oops!";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<!-- **** BACKGROUND !Important **** -->
<section class="tokkepedia-main clearfix">
    <div class="tokkepdia-sub">
    </div>
</section>
<!-- **** /BACKGROUND **** -->

<section class="special-area bg-white">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-6 col-md header-spacing">
                <label style="font-size: 64px">Oops!</label><br />
                <h3>
                    Its look like we can't find what you're looking for. Here are a few links to get back on track:
                    <br /><br />
                    <a class="text-magenta" href="/">Home</a><br />
                    <a class="text-magenta" href="/about">About</a><br />
                </h3>
            </div>
        </div>
    </div>
</section>