@model ResultData<Tok>

@if (Model.Results.Count > 0)
{
    <div class="my-lg-5 p-3 bg-white rounded box-shadow tokviewfeed" style="padding-left:0.2em!important;margin-top: 0px !important;">
        @Html.HiddenFor(model => model.Token, new { id = "Token" })

        <div id="TokFeed" class="container-fluid tokviewfeed">
            <input id="RenderedTokContent" type="hidden" value="" />
            @foreach (Tok tok in Model.Results)
            {
                @await Html.PartialAsync("Tok/_SetTokView", tok)
                <hr />
            }
        </div>
        <div class="justify-content-center" style="align-content:center!important;">
            <div id="progress" class="justify-content-center" style="display:none; height:200px; width:200px;"></div>
        </div>
    </div>
}

<script>
    // This is required to load the loading animation script
    var animation = bodymovin.loadAnimation({
        container: document.getElementById("progress"), // Required
        path: window.location.origin + '/images/anim/trail_loading.json', //baseUrl + 'images/anim/trail_loading.json', // Required
        renderer: 'svg', // Required
        loop: true, // Optional
        autoplay: true, // Optional
        name: "" // Name for future reference. Optional.
    });

    //Image popup

    $('#TokFeed').magnificPopup({ //.image-popup-no-margins
        delegate: '.tokviewitem .tokviewsection .tokviewrow .tokviewcol .image-popup-no-margins',
        type: 'image',
        closeOnContentClick: true,
        closeBtnInside: false,
        fixedContentPos: true,
        mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
        image: {
            verticalFit: true
        },
        zoom: {
            enabled: true,
            duration: 300 // don't foget to change the duration also in CSS
        }
    });
</script>